.profession-persons-page {
	.personal {
		cursor: pointer;
	}
}

.search-person-page {
	.selectbox {
		margin: 0;
		.selectbox-title {
			color: #00BFF8;
			font-weight: bold;
			font-size: 1.2rem;
			border-bottom: 1px solid #00BFF8;
			padding: 15px;
		}

		.selectbox-list {
			list-style: none;
			padding: 0;
			margin: 0;
		}

		.selectbox-option {
			& > a {
				text-decoration: none;
				display: block;
				line-height: 3rem;
				border-bottom: 1px solid #eee;
				padding-left: 2em;
				font-size: 1.2rem;
				font-weight: 400;
				&, &:hover, &:focus, &:active {
					color: inherit;
				}
			}
		}

		dd {
			margin: 0;
		}
	}

	.ui-popup-container {
		width: 85%;
	}
}